/* Variables de colores */

$color-negro-transparente: rgba(0, 0, 0, 0.8);
$color-blanco: #fff;
$color-blanco-translucido: #ffffffb0;
$color-negro: #000;
$color-principal: #3f271e;
$color-secundario: #23c483;
$color-terciario: #5d3a2e;
$color-gris-claro: rgba(105, 105, 105, 0.397);
$color-gris: #808080;
$color-verde-validado: #008000;
