@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* estilizacion general */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Estilizacion de barra de navegacion*/
.nav_container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.a_color {
  color: #fff;
}

/* estilizacion del encabezado */
.section_fondo {
  width: 100%;
  height: 100vh;
  background-image: url("img/slider_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.div_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.div_container h1 {
  color: #fff;
}

.div_container p {
  color: #ffffffb0;
}
.button_active{
    padding: 1.5em 1.2em;
    font-size:11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #ffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button_estilo {
  padding: 1.5em 1.2em;
  font-size:11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  background-color: #3f271e;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}



.button_estilo:hover, .button_active:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.button_estilo:active, .button_active:active {
  transform: translateY(-1px);
}

/* estilizacion en la seccion sobre nosotros */

.seccion_perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion_perfil p{
  margin: 20px;
  font-weight: 400;
}
.seccion_perfil h2{
  font-size: 20px;
  font-weight: 500;
}
.seccion_perfil h3{
  font-size: 25px;
  font-weight: 600;
}
.img_perfil{
  margin-top: 15px;
  width: 300px;
}

/* estilizacion de div_cards caracteristicas */

.section_caracteristicas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_caracteristicas h2{
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
}
.section_caracteristicas h3{
  font-size: 28px;
  font-weight: 600;
}
.section_caracteristicas p{
  margin: 20px;
  font-weight: 400;
}

.div_card {
  width: 300px;
  height: 264px;
  border-radius: 20px;
  background: #3f271e;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #000;
  transition: 0.5s ease-out;
  overflow: visible;
  
 }
 
 .div_card-details {
  color: #FFF;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .div_card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #23c483;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text_color {
  color: #FFF
 }
 
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }

 .div_card:hover {
  border-color: #23c483;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .div_card:hover .div_card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

.div_caracteristicas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* estilizacion formulario */


.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #3f271e;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.formulario__titulo {
  font-size: 28px;
  color: #23c483;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.formulario__titulo::before,
.formulario__titulo::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #23c483;
}

.formulario__titulo::before {
  width: 18px;
  height: 18px;
  background-color: #23c483;
}

.formulario__titulo::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.formulario__grupo {
  display: flex;
  width: 100%;
  gap: 6px;
}

.formulario__campo {
  position: relative;
}

.formulario__entrada {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.formulario__entrada + .formulario__etiqueta {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formulario__entrada:placeholder-shown + .formulario__etiqueta {
  top: 15px;
  font-size: 0.9em;
}

.formulario__entrada:focus + .formulario__etiqueta,
.formulario__entrada:valid + .formulario__etiqueta {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.formulario__entrada:valid + .formulario__etiqueta {
  color: green;
}

.formulario__boton {
  border: none;
  outline: none;
  background-color: #5d3a2e;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.formulario__boton:hover {
  background-color: #23c483;
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.section_form{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* estilizacion menu */

/* From Uiverse.io by Yaya12085 */ 
.card {
  max-width: 320px;
  border-radius: 1rem;
  background-color: rgba(31, 41, 55, 1);
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  grid-gap: 1rem;
  gap: 1rem;
}

.image {
  height: 7rem;
  width: 7rem;
  border-radius: 0.5rem;
  background-color: rgb(118, 36, 194);
  background: linear-gradient(to bottom right, rgb(118, 36, 194), rgb(185, 128, 240));
}

.info {
  height: 7rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.function {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

.stats {
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 1);
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4px;
}

.state-value {
  font-weight: 700;
  color: rgb(118, 36, 194);
}

.request {
  margin-top: 1.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: all .3s ease;
}

.request:hover {
  background-color: rgb(118, 36, 194);
  color: #fff;
}

